.TodoItem {
  display: flex;
  flex-direction: column;
  width: 50vw;
  border: 1px solid lightgray;
  margin: 3px;
}

.itemData {
  padding: 5px;
}

.btnBox {
  margin-top: 8px;
}

.editBox {
  padding: 5px;
}
